# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual env
env/
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# VS / VS Code
.vs/
.vscode/
*.user
*.suo
*.sln.docstates

# OS
.DS_Store
Thumbs.db
